[submodule "rest-app-cs-template"]
	path = rest-app-cs-template
	url = https://github.com/stack-spot/rest-app-cs-template.git
[submodule "logging-app-cs-plugin"]
	path = logging-app-cs-plugin
	url = https://github.com/stack-spot/logging-app-cs-plugin.git
[submodule "metrics-app-cs-plugin"]
	path = metrics-app-cs-plugin
	url = https://github.com/stack-spot/metrics-app-cs-plugin.git
[submodule "secrets-app-cs-plugin"]
	path = secrets-app-cs-plugin
	url = https://github.com/stack-spot/secrets-app-cs-plugin.git
